.is-overlay {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    height: 3rem;
    width: 9rem;
    font-size: 1rem;
}

.title {
    color: white;
}