.is-overlay {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.btn a {
    color: white;
}

.btn a:hover {
    color: black;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 7rem auto;
    height: 3rem;
    width: 8rem;
    font-size: 1rem;
    background-color: rgb(8, 64, 229);
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    border: none;
}

.title {
    color: white;
}

#section-two {
    height: 100vh;
    margin-top: 10rem;
    display: flex;
}

.text {
    width: 50%;
    color: white;
    padding: 2rem;
    height: 50%;
}

.photo,
img {
    height: 28rem;
    width: 35rem;
    z-index: 0;
    align-items: center;
    margin: 20 auto;
    padding: 30px;
}

p {
    font-size: 24px;
}