@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.App {
  text-align: center;
  background: black url('./assets/7.jpg') center / cover;
  width: 100%;
}



@media (max-width: 1024px {
    .App {
      width: 100%;
    }

    .footer {
      width: 100%;
    }

  }) @media (max-width: 540px {
    .App {
      width: 100%;
    }

    .footer {
      width: 100%;
    }

  }) * {
  margin: 0;
  box-sizing: border-box;

}

.App-link {
  color: #0d86ff;
}